<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="NAV4" />
                <rule name="NAV4">
                    <match url="^Auditor" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="picart.ey.net" />
                    </conditions>
                    <serverVariables />
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
